<div class="login">
    <div (click)="gohome()" class="logo"> 
        <img src="../../../assets/logonew.png">
        Green<p>Book</p>
    </div>
    <div class="main">
        <p class="title">Registro</p>
        <form [formGroup]="Formularioregister" (ngSubmit)="enviar_Datos()" id="access">
            <input required type="email" id="email"  formControlName="Email" placeholder="Correo Electrónico">
            <input required type="text" id="user" formControlName="User" placeholder="Usuario">
            <input required type="password" id="password" formControlName="Pass" placeholder="Contraseña">
            <p *ngIf="errormsg!=''" class="error">{{errormsg}}</p>
            <input type="submit" id="submit" value="Registrarse">
        </form>
    </div>
</div>
<app-footer></app-footer>