<div *ngIf="greeds==true" class="shadow">
    <div class="greeds">
        <span (click)="changeGreeds()" class="exit">X</span>
        <p>Agradecimientos</p>
        <label>Información sobre Rutas</label>
        <ul>
            <li><a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a></li>
            <li><a href="https://www.alltrails.com/es/" target="_blank">AllTrails</a></li>
        </ul>
        <label>Iconos</label>
        <ul>
            <li><a href="https://coolsymbol.com/" target="_blank">Cool Symbols</a></li>
        </ul>
        <label>Flora e imagenes de las rutas</label>
        <ul>
            <li><a href="https://caminosdecanarias.blogspot.com/2011/08/la-flora-en-canarias.html" target="_blank">CaminosDeCanarias</a></li>
        </ul>
    </div>
</div>
<footer>
    <div class="image"><span>🌿</span></div>
    
    <div><p>Autor</p>Airam Hernández Pérez</div>
    <div><p>Información</p></div>
    <div (click)="changeGreeds()"><p>Agradecimientos</p></div>
    <div class="image"> <span class="icon"></span></div>
</footer>