nav{
    background-color: var(--main-green);
    color: var(--main-white);
    height: 72px;
    display: flex;
    width: 100%;
    box-shadow: black 0px -2px 19px 0px;
    border-radius: 0px 0px 20px 20px;
    z-index: 10;
    /* overflow: hidden; */
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    align-items: center;
}

nav ul{
    margin: 0;
    display: block;
    width: 100%;
    padding: 0;
    font-size: 1.35em;
    /* font-weight: bold; */
    text-shadow: #000000a6 2px 2px 3px;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    margin-right: 10px;
}

nav ul li{
    display: inline-flex;
    height: 100%;
    align-items: center;
    padding: 0 16px;
    transition: 0.8s;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}
nav ul span{
    font-size: 1.8em;
    margin-top: -20px;
}

nav ul li a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

nav ul li:hover{
    background-color: #557e1f;
    transition: 0.3s;
}

.menuIcon{
    height: 44%;
    margin-bottom: 4px;
    margin-right: 5px;
    image-rendering: -webkit-optimize-contrast;
}
.increaseDiscover{
    height: 51%;
}
.increaseRoutes{
    height: 47%;
}
.increaseIcon{
    height: 60%;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    font-size: 1.8em;
    width: 300px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    height: 90%;
    margin-left: 15px;
    border-radius: 5px;
}

.logo img{
    height: 75%;
    border-radius: 100%;
    margin-right: 16px;
    image-rendering: -webkit-optimize-contrast;
}

.logo p{
    color: var(--main-black);
    text-shadow: #ffffffa6 2px 2px 3px;
}

.logo a{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
}

.logo:hover{
    background-color: #557e1f;
    transition: 0.3s;
}


.right{
    float: right;
}

.mobilemenuicon, nav #menuulmobile{
    display: none;
}




@media screen and (max-width: 900px) {

    .mobilemenuicon{
        height: 100%;
        font-size: 2.8em;
        float: right;
        display: block;
        width: max-content;
        padding: 0px 15px;
        margin-left: auto;
        margin-right: 10px;
        cursor: pointer;
    }
    nav ul{
        display: none;
    }
    nav #menuulmobile{
        flex-direction: column-reverse;
        width: 100%;
        position: absolute;
        align-items: start;
        justify-content: start;
        background: var(--main-green);
        height: max-content;
        margin: 0;
        display: flex;
        margin-top: 544px;
    }

    nav #menuulmobile li{
        display: flex;
        height: 91px;
        align-items: center;
        padding: 0;
        width: 100%;
        transition: 0.8s;
        cursor: pointer;
        border-radius: 5px;
        position: relative;
        justify-content: center;
        font-size: 1.3em;
    }
    nav{
        z-index: 3000;
    }

    .logo{
        width: 236px;
        font-size: 1.5em;
    }

    .increaseIcon{
        height: 56%;
    }
}