<nav>
    <ul>
        <li class="logo"> 
            <a routerLink="/Home" routerLinkActive="active"></a>
            <img src="https://airam9598.github.io/GreenBook/assets/logonew.png">
            Green<p>Book</p>
        </li>
        
        <li class="right">
            <a routerLink="/Login" routerLinkActive="active"></a>
                <img class="menuIcon increaseIcon" src="https://airam9598.github.io/GreenBook/assets/usuario.png">
        </li>
        <li class="right">
            <a routerLink="/Routes" routerLinkActive="active"></a>
            <img class="menuIcon increaseRoutes" src="https://airam9598.github.io/GreenBook/assets/route.png">
            Rutas
        </li>
        <li class="right">
            <a routerLink="/Discover" routerLinkActive="active"></a>
            <img class="menuIcon increaseDiscover" src="https://airam9598.github.io/GreenBook/assets/discover.png">
            Descubrir
        </li>
        <li class="right">
            <a routerLink="/Home" routerLinkActive="active"></a>
            <img class="menuIcon" src="https://airam9598.github.io/GreenBook/assets/home.png">
            Inicio
        </li>
        <li class="right">
            <a routerLink="/Camera" routerLinkActive="active"></a>
        <span>📷</span>
        </li>
        
    </ul>
</nav>