<navbar></navbar>
<div class="fondo">
    <div class="filtro">
        <input [(ngModel)]="busqueda" (ngModelChange)="Discover()" type="text" placeholder="Buscar Rutas 🔍">
    </div>
    <div class="block">
        <p class="title"> RUTAS DE SENDEROS</p>
        <div class="box">
            <div class="item" style="animation-duration: 2s;" *ngFor="let item of rutas; let i = index">
                <img src="{{item.Flora[0].Img[0].Img}}">
                <p>{{item.Name}}</p>
                <a routerLink="/Route/{{item.id}}" routerLinkActive="active"></a>
            </div>
        </div>
    </div>
</div>
