<navbar></navbar>
<div class="fondo">
    <div class="filtro">
        <input [(ngModel)]="busqueda" (ngModelChange)="Discover()" type="text" placeholder="Buscar Rutas 🔍">
    </div>
    <div class="block">
        <p class="title"> RUTAS DE SENDEROS</p>
        <div class="box">
            <div class="item" style="animation-duration: 2s;" *ngFor="let item of rutas;">
                <a *ngIf="Useradmin==true" class="delete" (click)="Deleteroute(item.id)" >X</a>
                <img src="{{item.Img}}">
                <p>{{item.Name}}</p>
                <a routerLink="/Route/{{item.id}}" routerLinkActive="active"></a>
                <a  class="edit" *ngIf="Useradmin==true" routerLink="/EditRoute/{{item.id}}" routerLinkActive="active">✏️</a>
            </div>
        </div>
        <div *ngIf="rutas.length==0" class="noroutes">No se ha encontrado ninguna ruta</div>
    </div>
</div>
<app-footer></app-footer>
