<navbar></navbar>
<div class="fondo">
  <form [formGroup]="FormularioFlor" (ngSubmit)="enviar_Datos()" style="padding: 24px;">
        <p>IMAGEN DE FLOR</p>
        <div class="mb-3">
          <label for="files" class="form-label">Imagen de la flor</label>
          <input required multiple #foto type="file" id="files" name="files" formControlName="Files" accept="image/*">
      </div>
      <p *ngIf="Error==true" class="error">🚫Falta subir alguna imagen</p>
      <button type="submit" class="btn btn-primary" id="create">Subir</button>
      <button (click)="cancel()"  class="btn btn-danger" id="cancel"> Cancelar</button>
  </form>
</div>
<div  style="background-color:black;    height: 100px;"></div>