<navbar></navbar>
<div class="fondo">
    <nav class="secondnav" *ngIf="admin==true && eID ==null">
        <ul>
            <li class="right">
                <a routerLink="/Create-route" routerLinkActive="active">Crear Ruta</a>
            </li>
        </ul>
    </nav>
    <div *ngIf="eID==null" class="user-block">
        <img src="./assets/usuario.png">
        <div class="info">
            <strong>Correo Electrónico:</strong> {{email}}
            <br><br>
            <strong>Usuario:</strong> {{username}}
            <form [formGroup]="Changepass" (ngSubmit)="enviar_Datos()">
                <p *ngIf="correctmsg==true" class="correct">Contraseña Cambiada correctamente</p>
                <p>Cambiar Contraseña</p>
                <input formControlName="oldpass" type="password" placeholder="Contraseña actual">
                <input formControlName="newpass1" type="password" placeholder="Contraseña nueva">
                <input formControlName="newpass2" type="password" placeholder="Repetir contraseña nueva">
                <p *ngIf="errormsg!=''" class="error">{{errormsg}}</p>
                <input type="submit" value="Cambiar">
            </form>
        </div>
        <button class="closeses" (click)="closesession()"><span>🚪</span> Cerrar Sesión</button>
    </div>
    <p class="usuario" *ngIf="eID != null">{{eID}}</p>
    <div class="box">
        <div class="item" *ngFor="let item of images; let i = index">
            <img src="{{item.Img}}">
            <p>♡ {{item.Like}}</p>
        </div>
    </div>
</div>  
<app-footer></app-footer>