.fondo{
    min-height: 100%;
    background-color: var(--main-white);
    padding-top: 120px;
}

.user-block{
    width: 85%;
    max-width: 1000px;
    height: 497px;
    background-color: var(--main-brown);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    position: relative;
}

.user-block img{
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-top: 10px;
}

.info{
    width: 60%;
    float: right;
    margin-top: 65px;
    color: black;
    font-size: 1.2em;
}

.info strong{
    color: white;
    font-size: 1.3em;
}

.info form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    color: white;
}

.info form input{
    font-size: 0.6em;
    border-radius: 5px;
    border: black solid 2px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    background: #efe7df;
}

.block .title{
    font-size: 1.6em;
    margin-left: auto;
    width: 95%;
    margin-right: auto;
    margin-top: 55px;
    font-weight: bold;
}

.box .item{
    background-color: var(--main-brown);
    width: 320px;
    height: 227px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: #131212 2px 3px 6px 0px;
    position: relative;
}
.usuario{
    font-size: 2em;
    margin-left: 30px;
    font-weight: bold;
    background: var(--main-brown);
    padding: 10px;
    width: min-content;
    border-radius: 5px;
    color: white;

}
.box .item a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .item img{
    image-rendering: -webkit-optimize-contrast;
    height: 75%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    box-shadow: #000000db 0px 2px 6px -2px;
}

.box .item p{
    color: var(--main-white);
    font-size: 1.3em;
    margin-left: 15px;
    font-weight: bold;
    text-shadow: #000000b3 2px 2px 3px;
}

.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.secondnav{
    padding: 10px;
    background: var(--main-brown);
    margin-bottom: 10px;
    color: white;
    font-size: 1.1em;
}

.secondnav li{
    display: INLINE-BLOCK;
    width: max-content;
    cursor: pointer;
}

.secondnav li a{
    color: white;
    text-decoration: none;
}

.error{
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.7em;
    width: max-content;
    border-radius: 5px;
    background: #e92e2e;
    padding: 5px 10px;
    box-shadow: black 1px 1px 3px -1px;
    color: white;
    text-shadow: black 1px 1px 4px;
}

.correct{
    margin: 0;
    margin-bottom: -15px;
    font-size: 0.7em;
    margin-top: 16px;
    width: max-content;
    border-radius: 5px;
    background: #2ee94a;
    padding: 5px 10px;
    box-shadow: black 1px 1px 3px -1px;
    color: white;
    text-shadow: black 1px 1px 4px;
}

.closeses{
    position: absolute;
    right: 10px;
    top: 10px;
    background: no-repeat;
    border: none;
    font-size: 1.05em;
    color: white;
    background: #ea4949;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.closeses span{
    font-size: 1.4em;
}