.fondo{
    min-height: 100%;
    background-color: var(--main-brown);
    padding-top: 120px;
}

.user-block{
    width: 85%;
    max-width: 1000px;
    height: 497px;
    background-color: var(--main-brown);
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    min-height: 200px;
    position: relative;
    box-shadow: #201f1fd4 2px 3px 6px 2px;
}

.user-block img{
    width: 160px;
    height: 160px;
    margin-left: 10px;
    margin-top: 10px;
}

.info{
    width: 60%;
    float: right;
    margin-top: 65px;
    color: black;
    font-size: 1.2em;
}

.info strong{
    color: white;
    font-size: 1.3em;
}

.info form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5em;
    color: white;
}

.info form input{
    font-size: 0.6em;
    border-radius: 5px;
    border: black solid 2px;
    text-align: center;
    padding: 5px;
    margin-bottom: 20px;
    background: #efe7df;
}

.block .title{
    font-size: 1.6em;
    margin-left: auto;
    width: 95%;
    margin-right: auto;
    margin-top: 55px;
    font-weight: bold;
}

.box .item{
    background-color: var(--main-brown);
    width: 260px;
    height: 200px;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: #131212 2px 3px 6px 0px;
    position: relative;
    transition: 0.7s;
}
.usuario{
    font-size: 2em;
    margin-left: 30px;
    font-weight: bold;
    background: var(--main-brown);
    padding: 10px;
    width: min-content;
    border-radius: 5px;
    color: white;

}
.box .item a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.box .item img{
    image-rendering: -webkit-optimize-contrast;
    height: 75%;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    box-shadow: #000000db 0px 2px 6px -2px;
}

.box .item p{
    color: var(--main-white);
    font-size: 1.3em;
    margin-left: 15px;
    font-weight: bold;
    text-shadow: #000000b3 2px 2px 3px;
}
.box .item:hover{
    transition: 0.5s;
    transform: scale(0.95);
    cursor: pointer;
}
.box .item p span{
    font-size: 0.6em;
    width: 90%;
    float: right;
    margin-right: 18px;
    margin-left: 18px;
}

.box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.right{
    margin-right: 10px;
    margin-left: auto;
}

.secondnav{
    padding: 10px;
    background: var(--main-green);
    margin-bottom: 10px;
    color: white;
    text-shadow: black 2px 2px 4px;
    font-size: 1.1em;
}

.secondnav ul{
    display: flex;
}

.secondnav li{
    display: INLINE-BLOCK;
    width: max-content;
    cursor: pointer;
}

.secondnav li a{
    color: var(--main-white);
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-size: 1em;
}

.secondnav li a:hover{
    text-decoration: underline;
}

.error{
    margin: 0;
    margin-bottom: 10px;
    font-size: 0.7em;
    width: max-content;
    border-radius: 5px;
    background: #e92e2e;
    padding: 5px 10px;
    box-shadow: black 1px 1px 3px -1px;
    color: white;
    text-shadow: black 1px 1px 4px;
}

.correct{
    margin: 0;
    margin-bottom: -15px;
    font-size: 0.7em;
    margin-top: 16px;
    width: max-content;
    border-radius: 5px;
    background: #2ee94a;
    padding: 5px 10px;
    box-shadow: black 1px 1px 3px -1px;
    color: white;
    text-shadow: black 1px 1px 4px;
}

.closeses{
    position: absolute;
    right: 10px;
    top: 10px;
    background: no-repeat;
    border: none;
    font-size: 1.05em;
    color: white;
    background: #ea4949;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: #000000a3 1px 1px 2px 1px;
    cursor: pointer;
}

.closeses:hover{
    background: #e43c3c;
}

.closeses span{
    font-size: 1.4em;
}

.secondnavmobile, .mobilemenuicon{
    display: none;
}

@media screen and (max-width: 700px) {

    .box .item{
        width: 215px;
        height: 192pxpx;
    }
    
    .user-block{
        width: 95%;
    }

    .user-block img{
        display: none;
    }

    .user-block .info{
        width: 96%;
        font-size: 1.1em;
    }
    .secondnav{
        display: none;
    }
    .mobilemenuicon{
        height: 100%;
        font-size: 2.8em;
        float: right;
        display: block;
        width: max-content;
        padding: 0px 15px;
        margin-left: auto;
        margin-right: 10px;
        cursor: pointer;
    }

    .secondnavmobile{
        padding: 10px;
        background: var(--main-green);
        margin-bottom: 10px;
        color: white;
        text-shadow: black 2px 2px 4px;
        font-size: 1.1em;
        display: block;
    }
    
    .secondnavmobile li{
        display: BLOCK;
        width: max-content;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        background-color: var(--main-green);
    }

    .secondnavmobile li:hover{
        background-color: #5a8a1c;
        transition: 0.2s;
    }

    .secondnavmobile li:hover a{
        text-decoration: underline;
    }
    
    .secondnavmobile ul{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
    .secondnavmobile li a{
        color: var(--main-white);
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
        font-size: 1.2em;
    }
    
    .secondnavmobile li a:hover{
        text-decoration: underline;
    }
    .right{
        margin-left: unset;
        margin-right: unset;
    }
}