<navbar></navbar>
<div class="fondo">
  <form [formGroup]="FormularioRuta" (ngSubmit)="enviar_Datos()" style="padding: 24px;">
    <p>RUTA</p>
      <div class="mb-3">
        <label for="nombre" class="form-label">Nombre</label>
        <input required type="text" class="form-control" style="text-align:center" id="nombre" formControlName="Name">
      </div>
      <div class="mb-3">
        <label for="descrip" class="form-label">Descripción</label>
        <input required type="text" class="form-control" style="text-align:center" formControlName="Description" id="descrip">
      </div>
        <p>FLOR</p>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre de la Flor</label>
          <input required type="text" class="form-control" style="text-align:center" id="nombre" formControlName="FlowerName">
        </div>
        <div class="mb-3">
          <label for="descrip" class="form-label">Descripción de la Flor</label>
          <input required type="text" class="form-control" style="text-align:center" formControlName="FlowerDescription" id="descrip">
        </div>
        <div class="mb-3">
          <label for="files" class="form-label">Imagen de la flor</label>
          <input required multiple #foto type="file" id="files" name="files" formControlName="Files" accept="image/*">
      </div>
      <p *ngIf="Error==true" class="error">🚫Faltan datos por rellenar</p>
      <button type="submit" class="btn btn-primary" id="create">Crear</button>
      <button (click)="cancel()"  class="btn btn-danger" id="cancel"> Cancelar</button>
  </form>
</div>
<div *ngIf="db.subiendo===true" style="background-color:black;    height: 100px;"></div>