<navbar></navbar>
<div class="fondo">
    <div class="site">
        <p class="title">{{ruta.Name}}</p>
        <p class="text">{{ruta.Description}}</p>
    </div>
    <div class="box">
      <a class="add" routerLink="/NewFlower/{{ruta.id}}" routerLinkActive="active">+</a>
        <p>FLORA</p>
        <div id="{{item.id}}" class="item" *ngFor="let item of ruta.Flora; let i = index" (click)="showflower(item)">
            <img src="{{item.Img[0].Img}}">
            <p>{{item.Name}}</p>
        </div>
    </div>
    <div class="blockimagen">
      <a class="add" routerLink="/NewImageFlower/{{ruta.id}}/{{Name}}" routerLinkActive="active">+</a>
      <img class="imagen" src="{{actimage}}"> 
      <span class="likes">
        <a (click)="likes()" *ngIf="UserId != null">♡</a>
        <a *ngIf="UserId == null">♡</a>
          <p>{{actlike}}</p>
        </span>
      <span class="user">{{actuser}}</span>
      <span *ngIf="actid<Imagelenght-1;" class="derecha" (click)="changeImg(1)">➜</span>
      <span *ngIf="actid>0" class="izquierda" (click)="changeImg(-1)">➜</span>
    </div>
    
    <div class="descripcion">
        <p class="title">{{Name}}</p>
        <p class="text">{{Description}}</p>
        <a class="read">Leer más -></a>
    </div>
</div>
<div *ngIf="loading==true" class="loading"> <p class="icon">🍃</p><p class="load">Cargando...</p></div>