<navbar></navbar>
<div class="fondo">
    <div class="principal">
        <img src="../../../assets/fondo3.jpg">
        <div>
            <p class="title">Título del texto</p>
            <p class="description">Descripción del texto que hay que poner para qeu se vea la descripción del texto</p>
            <a>Leer más -></a>
        </div>
    </div>
    <div class="block">
        <div class="item">
            <img src="../../../assets/FOnfo.jpg">
            <div class="text">
                <p class="username">
                    @UserName
                </p>
                <a>
                    Leer más ->
                </a>
            </div>
        </div>
    </div>
</div>