<navbar></navbar>
<div class="fondo">
    <div class="buscador"><input [(ngModel)]="busqueda" (ngModelChange)="Discover()" type="text" placeholder="Buscar Usuarios 🔍"></div>
    <div *ngIf="busqueda==''" class="principal">
        <img src="{{MainImg}}">
        <div>
            <p class="title">{{MainUser}}</p>
            <a routerLink="../User/{{MainUser}}" routerLinkActive="active">Descubrir más ➜</a>
        </div>
    </div>
    <div class="block">
        <div *ngFor="let item of Users" class="item">
            <a routerLink="../User/{{item.UserName}}" routerLinkActive="active"></a>
            <img src="{{item.Img[0].Img}}">
            <div class="text">
                <p class="username">
                    {{item["UserName"]}}
                </p>
            </div>
        </div>
    </div>
    <div *ngIf="Users.length==0" class="nousers">No se ha encontrado ningún usuario</div>
</div>

<div *ngIf="loading==true" class="loading"> <p class="icon">🍃</p><p class="load">Cargando...</p></div>
<app-footer></app-footer>