/*!********************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[4].rules[0].oneOf[0].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[4].rules[0].oneOf[0].use[2]!./src/styles.css ***!
  \********************************************************************************************************************************************************************************************************/
:root {
    --main-green: #84BA3E;
    --main-brown: #84625C;
    --main-white: white;
    --main-black: black;
  }

  html,body{
      width: 100%;
      min-height: 100%;
      margin: 0;
      height: 100%;
  }

  body{
    min-height: 100%;
    height: 100%;
  }

  app-root{
    min-height: 100%;
    height: 100%;
    display: block;
  }

  app-discover{
    min-height: 100%;
    height: auto;
    display: block;
    height: -moz-fit-content;
    height: fit-content;
  }

  app-routes{
    min-height: 100%;
    height: auto;
    display: block;
  }

  app-home{
    min-height: 100%;
    height: 100%;
    display: block;
  }

  app-login{
    min-height: 100%;
    height: 100%;
    display: flex;
  }

  app-routerinfo{
    min-height: 100%;
    display: block;
    height: auto;
  }

  app-app-user-page{
    min-height: 100%;
    height: 100%;
    display: block;
  }
