
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}

:root {
    /*--main-green: #84BA3E;*/
    --main-green: #6da228;
    --main-brown: #84625C;
    --main-white: white;
    --main-black: black;
  }

  html,body{
      width: 100%;
      min-height: 100%;
      margin: 0;
      height: 100%;
  }

  body{
    min-height: 100%;
    height: 100%;
  }
  app-root{
    min-height: 100%;
    height: 100%;
    display: block;
  }

  app-discover{
    min-height: 100%;
    height: 100%;
    display: block;
  }

  app-routes{
    min-height: 100%;
    height: 100%;
    display: block;
  }

  app-home{
    min-height: 100%;
    height: 100%;
    display: block;
  }

  app-login{
    min-height: 100%;
    height: 100%;
    display: flex;
  }

  app-routerinfo{
    min-height: 100%;
    display: block;
    height: auto;
  }

  app-app-user-page{
    min-height: 100%;
    height: 100%;
    display: block;
  }


  .ngx-pagination {
    padding-left: 0px !important;
    width: max-content !important;
    margin: auto !important;
    margin-bottom: 10px !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: var(--main-green) !important;
    border: transparent !important;
    border-radius: 5px !important;
  }

  .ngx-pagination li{
    font-size: 1.4em;
  }
  
  .ngx-pagination .current:hover {
    background: var(--main-green) !important;
    border-radius: 5px !important; 
    border: transparent !important;
  }

  .ngx-pagination .pagination-previous {
    display: none !important;
  }

  .ngx-pagination .pagination-next {
    display: none !important;
  }

  .ngx-pagination a:hover {
    background: var(--main-green) !important;
    border-radius: 5px !important; 
    border: transparent !important;
    color: var(--main-white);
    
  }

  .leaflet-routing-container {
    display:none !important;
  }

  .leaflet-marker-draggable{
    display: none !important;
  }

  .leaflet-popup-content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leaflet-popup-content img{
    width: 50px;
    height: 50px;
    margin-right:12px;
  }
  .leaflet-popup-close-button{
    display: none;
  }

  .webcam-wrapper{
    border: gray 4px outset;
    border-radius: 5px;
  }

  @media screen and (max-width: 700px) {
    video{ 
        width: 100%;
        height: 100%;
    }
    
  }