
<navbar></navbar>
<div class="fondo">
    <p class="error" *ngIf="!isCameraExist || geolocation==null">{{error}} <br><br><a class="reload" (click)="reloadComponent()">Recargar</a></p>
    <div *ngIf="isCameraExist && !imagetaken && geolocation != null">
        <div style="text-align:center">
            <webcam [height]="500" [width]="1000" [trigger]="triggerObservable" (imageCapture)="Takepicture($event)"
                *ngIf="showWebcam" [switchCamera]="nextWebcamObservable"></webcam>
                <div class="btn-group">
                    <button *ngIf="showWebcam" class="picturetake" (click)="takeSnapshot()">📷</button>
                    <!--<button class="button" (click)="changeWebCame(true)">Toggle Camera</button>-->
                    <button class="hideshow" (click)="onOffWebCame()">Mostrar/Ocultar Cámara</button>
                </div>

        </div>
    </div>
    <div *ngIf="isCameraExist && imagetaken && geolocation != null" class="center">
        <form (ngSubmit)="EnviarDatos()" class="center max">
            <div class="imgbox">
                <img src="{{image}}">
                <button class="repeat" (click)="imagetaken=false; showWebcam = true"><span>🔃</span> Repetir</button>
            </div>
            <div>
                <label class="title">Enviar Imagen</label><br>
                <label>Identifica la flor:</label><br>
                <input style="display:none" #flor value="{{actflower}}">
                <div class="box">
                    <div [ngStyle]="flor.id==actflower && {'background': '#4d6c24','padding': '10px','justify-content': 'center'} || null" (click)="changeflower(flor.id)" class="item" *ngFor="let flor of flowers">
                        <img src="{{flor.Img}}">
                        <p>{{flor.Name}}</p>
    
                    </div>
                </div>
                <br>
                <input class="subir" type="submit" value="Subir">
            </div>
        </form>
    </div>

</div>
<div class="loading" *ngIf="subiendo==true"> <p class="icon">🍃</p><p class="load">Cargando...</p></div>
<app-footer></app-footer>